---
import Navigation from "../components/navigation.astro";
---


<header class="bg-white shadow-md py-4">
    <div class="container mx-auto px-4 flex items-center justify-between">
        <a href="#" class="text-2xl font-bold text-gray-800">Your Logo</a>
        <Navigation />
    </div>
</header>